xml/ComunesEDespacho.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.ventanillaunica.gob.mx/privados/ferros/oxml/comunesedespacho"
	xmlns:tns="http://www.ventanillaunica.gob.mx/privados/ferros/oxml/comunesedespacho"
	xmlns:comun="http://www.ventanillaunica.gob.mx/common/ws/oxml/respuesta"
	elementFormDefault="qualified">


	<xsd:import schemaLocation="comunes.xsd"
		namespace="http://www.ventanillaunica.gob.mx/common/ws/oxml/respuesta" />


	<xsd:simpleType name="EstatusBL">
		<xsd:annotation>
			<xsd:documentation>Estatus del BL.
				1= Transmitido (BL  registrado mediante un archivo Customs Manifest 309)
				2= Bloqueado (El BL ha sido asociado a un E-despacho)
				3= Entrada Confirmada (El Operador de Rayos Gamma ha confirmado la entrada del tirón correspondiente al BL)
				4= Detenido por Dependencia o AGA (El BL se encuentra en inspección física por parte de una Dependencia gubernamental)
				6= Liberado (El BL ha concluido satisfactoriamente el despacho aduanero)
				7= Eliminado (El Ferrocarril ha eliminado el BL)
				8= Inspección/Verificación Rechazada (El BL no ha cumplido satisfactoriamente con el despacho aduanero).
				9= Consist Asociado (El BL ha sido asociado a un archivo Customs Consist 358)
				10= Modificado
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="1" id="TRANSMITIDO" />
			<xsd:enumeration value="2" id="BLOQUEADO" />
			<xsd:enumeration value="3" id="ENTRADA_CONFIRMADA" />
			<xsd:enumeration value="4" id="DETENIDO" />
			<xsd:enumeration value="5" id="RETENIDO" />
			<xsd:enumeration value="6" id="LIBERADO" />
			<xsd:enumeration value="7" id="ELIMINADO" />
			<xsd:enumeration value="8" id="INSPECCION_VERIFICACION_RECHAZADA" />
			<xsd:enumeration value="9" id="CONSIST_ASOCIADO" />
			<xsd:enumeration value="10" id="MODIFICADO" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="Error">
		<xsd:annotation>
			<xsd:documentation>Lista de errores al recibir la petición.
				cualquier
				problema que se presente se indicara como una cadena en
				este elemento
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>codigo del error</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="descripcion" type="xsd:string"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Mensaje del error</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="campo" type="xsd:string" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Campo don de ocurrio el error
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="RespuestaPrivadosAcuse">
		<xsd:annotation>
			<xsd:documentation>Respuesta para servicios que requieren un acuse de
				recibo.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="tns:RespuestaPrivadosBase">
				<xsd:sequence>
					<xsd:element name="acuse" type="comun:Acuse">
						<xsd:annotation>
							<xsd:documentation>Acuse de recibo</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="RespuestaPrivadosBase">
		<xsd:annotation>
			<xsd:documentation>Respuesta Base para los servicios que no requieren
				un acuse de recibo.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="codigoRespuesta" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Código de respuesta que especifica el
						resultado de la consulta del Edespacho.
						001 = Aceptada
						002 = Rechazada
						003 = En proceso
							</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="error" type="tns:Error" minOccurs="0"
				maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>lista de errores</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tieneError" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation>Indica si tiene error</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="EDespacho">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="aduana" nillable="false" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Clave de la aduana Solo un registro. Campo
						obligatorio.</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="patente" nillable="false" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Número de patente del agente o apoderado
						aduanal. La patente debe ser la misma del usuario que transmite el
						Edespacho.
						Campo obligatorio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:minInclusive value="1" />
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="informacionPedimento" type="tns:InformacionPedimento"
				minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="numeroBL" type="tns:NumeroBL"
				minOccurs="1" maxOccurs="unbounded" />
			<xsd:element name="claveTransportista" nillable="false"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identificador del Transportista (M1112)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="medioTransporte" nillable="false"
				minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Identificador del Transportista (M1112)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:integer">
						<xsd:minInclusive value="1" />
						<xsd:maxInclusive value="99999999" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroGafete">
				<xsd:annotation>
					<xsd:documentation>Número de gafete. Este campo es opcional
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt">
						<xsd:minInclusive value="1" />
						<xsd:maxInclusive value="99999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroTarjetaFAST">
				<xsd:annotation>
					<xsd:documentation>Número de tarjeta FAST. Este campo es opcional.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroDeclaracionAduanalAmericanaOITN">
				<xsd:annotation>
					<xsd:documentation>Número de Entry. Este campo es opcional
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="calificadorITN">
				<xsd:annotation>
					<xsd:documentation>Calificador ITN. Este campo es opcional
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="50" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="NumeroEquipo">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="numeroEquipo">
				<xsd:annotation>
					<xsd:documentation>Número de equipo (VID03)
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="19" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="sello" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation></xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:minLength value="36" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="NumeroBL">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="numeroBL">
				<xsd:annotation>
					<xsd:documentation>NUmero de BL
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="29" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroEquipo" type="tns:NumeroEquipo"
				minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="InformacionPedimento">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="pedimento" nillable="false" minOccurs="1">
				<xsd:annotation>
					<xsd:documentation>Número de Pedimento. Campo obligatorio
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedInt">
						<xsd:minInclusive value="1" />
						<xsd:maxInclusive value="9999999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroRemesa">
				<xsd:annotation>
					<xsd:documentation>Número consecutivo de remesa.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedShort">
						<xsd:minInclusive value="1" />
						<xsd:maxInclusive value="9999" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cove">
				<xsd:annotation>
					<xsd:documentation>Número de Edocument de COVE (para previos de
						consolidado)</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="13" />
						<xsd:minLength value="13" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="numeroPartesII">
				<xsd:annotation>
					<xsd:documentation>Número de Partes II</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:int">
						<xsd:minInclusive value="1" />
						<xsd:maxInclusive value="999" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="requiereInspeccion">
				<xsd:annotation>
					<xsd:documentation>Identifica si se requiere inspección o no.
						0 = sí
						1 = no</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:unsignedByte">
						<xsd:enumeration value="1" id="SÍ" />
						<xsd:enumeration value="0" id="NO" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="dependenciaInspeccion" minOccurs="0"
				maxOccurs="unbounded" nillable="false">
				<xsd:annotation>
					<xsd:documentation> A1 = SAGARPA
						D1 = SEDENA 
						T8	= PROFEPA
						De 1 a 3 registros.
						Campo obligatorio en caso de que “Requiere inspección” sea igual a 1
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="A1" id="SAGARPA" />
						<xsd:enumeration value="D1" id="SEDENA" />
						<xsd:enumeration value="T8" id="PROFEPA" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="folioLicenciaCertificadoPermiso"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Folio de licencia, certificado o permiso.
						De 1 a
						N registros.
						Campo obligatorio si “Requiere inspección” sea igual a
						0
						si es validacion min 0
						si es consulta min 1
</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="25" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="eDocumentLicenciaCertificadoPermiso"
				minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Número de E-document de la licencia,
						certificado
						o permiso (0 a N registros)
						si es validacion min 0
						si es consulta
						min 1
						</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="13" />
						<xsd:minLength value="13" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cantidadMercancias" >
				<xsd:annotation>
					<xsd:documentation>Cantidad de Mercancías en unidades de comercialización
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="valorUSD" >
				<xsd:annotation>
					<xsd:documentation>Cantidad de Mercancías en unidades de comercialización
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:decimal">
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="EDespachoRegistrar">
		<xsd:annotation>
			<xsd:documentation></xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="eDespacho">
				<xsd:annotation>
					<xsd:documentation>Número de Documento Electrónico
						ppppyyyymm#######
						Es obligatorio si el tipo de movimiento es baja o
						cambio. Es nulo si
						el tipo de movimiento es alta
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="15" />
						<xsd:whiteSpace value="collapse" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<xsd:element name="datosEDespacho" type="tns:EDespacho"
				minOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:simpleType name="TipoOperacion">
		<xsd:annotation>
			<xsd:documentation>Clave que identifica si la operación es de importación o exportación. Tipo de Operación.
				1.- Operación de Importación Si CVE_PAIS= US o CA entonces el Tipo de Operación es 1
				2.- Operación de Exportación Si CVE_PAIS= MX entonces el Tipo de Operación es 2
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:int">
			<xsd:enumeration value="1" id="OPERACION_IMPORTACION" />
			<xsd:enumeration value="2" id="OPERACION_EXPORTACION" />
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>